.container,
.rowContainer,
.boxes,
.colors,
.colorFields,
.redColor,
.greenColor,
.blueColor,
.colorSubmitButton,

body {
    display:flex;
    justify-content:center;
    align-items:center;
}

.currentColorDisplayer {
    width:10px;
    height:10px;
}

.colors {
    border:20px;
    flex-direction:column;
    justify-content:space-between;
}

.redColor,
.greenColor,
.blueColor {
    padding:10px;
}
body {
    flex-direction:column;
}

.currentColorDisplayer{
    min-width:100%;
    min-height:100%;
}
.boxes {
    margin:0;
    flex:1 1 auto;
    min-height:100%;
}

.container {
    width:500px;
    height:500px;
    flex-direction:column;
    border:0.5px;
    border-style:solid;
    border-color:black;
}

.rowContainer {
    min-width:100%;
    margin:0;
    flex:1 1 auto
}
