.container,
.rowContainer,
/*.topLeftBox,
.topRightBox,
.topBoxes,
.leftBoxes,
.rightBoxes,
.bottomLeftBox,
.bottomBoxes,
.bottomRightBox,
.individualBox */
.boxes,
.colors,
.colorFields,
.redColor,
.greenColor,
.blueColor,
.colorSubmitButton,
body {
    display:flex;
    justify-content:center;
    align-items:center;
}



.colors {
    border:20px;
    flex-direction:column;
    justify-content:space-between;
}

.redColor,
.greenColor,
.blueColor {
    padding:10px;
}
body {
    flex-direction:column;
}

.boxes {
    margin:0;
    flex:1 1 auto;
    min-height:100%;
}

.container {
    width:500px;
    height:500px;
    flex-direction:column;
    border:0.5px;
    border-style:solid;
    border-color:black;
}

.rowContainer {
    min-width:100%;
    margin:0;
    flex:1 1 auto
}
